{block title}Dashboard | Google Shared Contacts Manager{/block}
{block content}
<div class="row">
    <div class="col s12 white p-4 mt-3">
        <h1>You are logged in!</h1>
        <p style="word-break: break-all;"><strong>Access token: </strong>{$token}</p>
    </div>
</div>
{/block}