{block title}Login | Google Shared Contacts Manager{/block}
{block content}
<div class="row">
    <div class="col s12 white p-4 mt-3">
        <h1>Welcome to login page!</h1>
        <p>To login using your GSuite Administrator account click the button below.</p>
        <a href="{$loginLink}" target="_self" class="btn-large white grey-text text-darken-3 waves-effect"><img src="{$basePath}/img/g-normal.png" class="mr-2">Sign in</a>
    </div>
</div>
